body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #eee;
}

.logo {
  width: 70px;
  height: 70px;
}

.header_part {
  background-color: red;
  font-size: 30px;

}

.bec {
  font-size: 26px;
}

.horizontal {
  width: 120px;
  height: 8px;
  background-color: #370003;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  background-color: white;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: #370003;
  color: white;
}

i {
  color: black;
}

.card:hover {
  /* transform: scale(1.10); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.developers_info {
  text-decoration: none;
  color: white;
}

.developers_info:hover {
  color: #F94C66;

}


/* Contact Page*/