body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #eee;
}

.logo {
  width: 70px;
  height: 70px;
}

.header_part {
  background-color: red;
  font-size: 30px;

}
.bec{
  font-size: 26px;
}

.horizontal{
  width: 120px;
  height: 8px;
  background-color: #370003;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button{
  background-color: white;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: #370003;
  color: white;
}
i{
  color: black;
}

.card:hover{
 transform: scale(1.10);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #eee;
}
.logo {
  width: 70px;
  height: 70px;
}
.button {
  background-color: white;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: #370003;
  color: white;
}
/*

  body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 30, 34);
  font-family: sans-serif;
}

*/
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Kanit', sans-serif;
}

.container {
  max-width: 950px;
}

.card {
  border-radius: 1rem;
  box-shadow: 0px -10px 0px rgb(151, 248, 6);
}

@media(max-width:767px) {
  .card {
    margin: 1rem 0.7rem 1rem;
    max-width: 80vw;
  }
}

img {    
  width: 14.2rem;
  border-radius: 1rem;
  margin: 1.3rem auto 1rem auto;
}

.col-md-4 {
  padding: 0 0.5rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'IM Fell French Canon SC';
}

.card-text {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  color: rgb(82, 81, 81);
  line-height: 1.4rem;
}

.footer {
  border-top: none;
  text-align: center;
  line-height: 1.2rem;
  padding: 2rem 0 1.4rem 0;
  font-family: 'Varela Round';
}

#name {
  font-size: 0.8rem;
  font-weight: bold;
}

#position {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  color: black;

}
a i{
  transition: all 0.3s linear;
}
a:hover i{
  transform: scale(1.4);
}


polygonizr.min.js